[user]
	name = Dmitry Rets
	email = dmitryrets@gmail.com
	signingkey = AAEDE1BAD3F45394

[gpg]
	program = gpg2

[push]
	gpgSign = if-asked
[core]
	editor = "emacsclient -c"

[magit]
	hideCampaign = true
