Xft.dpi: 220

urxvt.loginShell:         true
urxvt.saveLines:         65535
urxvt.urgentOnBell:       true

urxvt.scrollBar:         false
urxvt.scrollTtyOutput:   false
urxvt.scrollTtyKeypress:  true
urxvt.secondaryScroll:    true
urxvt.iso14755:          false

URxvt.font: xft:Ubuntu Mono:normal:size=12

URxvt*background: #add8e6
URxvt*foreground: #000000
